@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100;300;400;700;900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;

}
html{
    /*me permite deslizar cuando hago click en los links del menú*/
    scroll-behavior:smooth ;
}
/*MENÚ*/
.contenedor--header{
    background: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor--header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

}
.contenedor--header header .logo a{
    font-family: 'Roboto';
    font-size: 36px;
    color: rgb(219, 165, 255 );
    text-decoration: none;
}
.contenedor--header header ul{
    display: flex;
    list-style: none;
}
.contenedor--header header nav ul li a{
    text-align: none;
    color: rgb(255, 255, 255);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
 }
 .contenedor--header header nav ul li a:hover{
    color: rgb(219, 165, 255 );
 }
 .nav-responsive{
    background-color: rgb(219, 165, 255 );
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
 }
 /*SECCIÓN I N I C I O*/
 .inicio{
    background: linear-gradient(to top, rgb(47, 47, 47,.8), rgba(47, 47, 47,.1)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
 }
 .inicio .contenedor-baner{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.678);
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
 }
 .inicio .contenedor-baner img{
    margin-top: 40px;
    border: 1px solid  rgb(0, 0, 0);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
 }
 .inicio .contenedor-baner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Roboto';
 }
 .inicio .contenedor-baner h2{
    font-size: 15px;
    font-weight: normal;
  }
  .inicio .contenedor-baner .redes a{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
  } 
  .inicio .contenedor-baner .redes a:hover{
    background-color:rgb(219, 165, 255 ) ;
  }
  .sobremi{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 50px 20px;
  }
  .sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
  }
  .sobremi h2{
    font-size: 48px;
    font-family: 'Roboto';
    text-align: center;
    padding:20px 0;
  }
  .sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .sobremi .contenido-seccion p span{
    color:rgb(219, 165, 255 ) ;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
font-size: 28px;
font-family: 'Roboto';
margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
   margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color:rgb(219, 165, 255 ) ;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color:rgb(219, 165, 255 ) ;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap:wrap ;
   

}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color:rgb(61, 62, 61) ;
    border-radius: 10px;
    margin: 0px 10px 10px 0px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    transform: .3s;
}
.sobremi .fila .col .contenedor-intereses .interes:hover{
  background-color:rgb(219, 165, 255 ) ;
}
.sobremi .fila .col .contenedor-intereses .interes i{
  font-size: 30px;
  margin-bottom: 10px;
}
.sobremi button{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 10;
}
.sobremi button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color:rgb(219, 165, 255 ) ;
  z-index: -1;
  transition: .1s;
}
.sobremi button:hover .overlay{
  width: 100%;
}
/*SECCION S K I L L S*/
.skills{
  background-color: rgb(147, 249, 111 );
  color: rgb(0, 0, 0);
  padding: 50px 20px;
}
.skills .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.skills h2{
  font-size: 48px;
  font-family: 'Roboto';
  text-align: center;
  padding:20px 0;
}
.skills .fila{
  display: flex;
}
.skills .fila .col{
  width: 50%;
  padding: 0 20px;

}
.skills .fila .col h3{
  font-size: 28px;
font-family: 'Roboto';
margin-bottom: 25px;
}
.skills .skills >span{
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}
.skills .skills .barra-skills{
  height: 8px;
  width: 80%;
  background-color: black;
  position: relative;
  margin-bottom: 30px;
}
.skills .skills .progreso{
  background-color:rgb(219, 165, 255 ) ;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}
.skills .skills .barra-skills span{
  position:absolute;
  height: 40px;
  width: 40px;
  background-color: rgb(219, 165, 255 );
  border-radius:50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right:-15;
  font-size: 14px;

}
/*estas clases se agregaran dinamicamente en js*/
.skills .skills .javascript{
  width: 0%;
  animation: 2s javascript forwards;
}
@keyframes javascript {
  0%{width: 0%;}
  100%{width: 25%;}
}

.skills .skills .htmlcss{
  width: 0%;
  animation: 2s htmlcss forwards;
}
@keyframes htmlcss  {
  0%{width: 0%;}
  100%{width: 50%;}
}

.skills .skills .Photoshop{
  width: 0%;
  animation: 2s Photoshop forwards;
}
@keyframes Photoshop {
  0%{width: 0%;}
  100%{width: 60%;}
}

.skills .skills .Ilustrator{
  width: 0%;
  animation: 2s Ilustrator forwards;
}
@keyframes Ilustrator {
  0%{width: 0%;}
  100%{width: 90%;}
}

.skills .skills .wilcomembroidery{
  width: 0%;
  animation: 2s wilcomembroidery forwards;
}
@keyframes wilcomembroidery {
  0%{width: 0%;}
  100%{width: 50%;}
}

.skills .skills .AutoCAD{
  width: 0%;
  animation: 2s AutoCAD forwards;
}
@keyframes AutoCAD {
  0%{width: 0%;}
  100%{width: 50%;}
}

.skills .skills .Microsoftoffice{
  width: 0%;
  animation: 2s Microsoftoffice forwards;
}
@keyframes Microsoftoffice {
  0%{width: 0%;}
  100%{width: 85%;}
}

.skills .skills .Comunicación{
  width: 0%;
  animation: 2s Comunicación forwards;
}
@keyframes Comunicación {
  0%{width: 0%;}
  100%{width: 80%;}
}

.skills .skills .Trabajoenequipo{
  width: 0%;
  animation: 2s Trabajoenequipo forwards;
}
@keyframes Trabajoenequipo {
  0%{width: 0%;}
  100%{width: 70%;}
}

.skills .skills .Creatividad{
  width: 0%;
  animation: 2s Creatividad forwards;
}
@keyframes Creatividad {
  0%{width: 0%;}
  100%{width: 80%;}
}

.skills .skills .Dedicación{
  width: 0%;
  animation: 2s Dedicación forwards;
}
@keyframes Dedicación {
  0%{width: 0%;}
  100%{width: 75%;}
}

.skills .skills .Capacidadparasolucionarproblemas{
  width: 0%;
  animation: 2s Capacidadparasolucionarproblemas forwards;
}
@keyframes Capacidadparasolucionarproblemas {
  0%{width: 0%;}
  100%{width:90%;}
}
/*SECCION C U R R I C U L U M*/
.curriculum {
  background-color: rgb(219, 165, 255);
  color: rgb(0, 0, 0);
  padding: 50px 20px;
}
.curriculum .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.curriculum h2{
  font-size: 48px;
  font-family: 'Roboto';
  text-align: center;
  padding:20px 0;
}
.curriculum .fila{
  display: flex;
  justify-content: space-between;
}
.curriculum .fila .col{
  width: 49%;
  padding: 0 20px;

}
.curriculum .fila .col h3{
  font-size: 28px;
  font-family: 'Roboto';
  margin-bottom: 25px;
}
.curriculum .fila .izquierda{
  border-right:none;
}
.curriculum .fila .derecha{
  border-right:none ;
}
.curriculum .fila .item{
  padding: 25px;
  margin-bottom: 30px;
  background-color: rgb(147, 249, 111 );
  position: relative;
}
.curriculum .fila .item h4{
  font-size: 22px;
  margin-bottom: 10px;
}
.curriculum .fila .item .casa{
  color: rgb(219, 165, 255 ) ;
  font-size: 20px;
  font-weight: bold;
  display: block;
}
.curriculum .fila .item .fecha{
  display: block;
  color:rgb(219, 165, 255 ) ;
  margin-bottom: 10px;
}
.curriculum .fila .item p{
  line-height: 24px;

}
/*SECCION P O R T F O L I O*/
.portfolio {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 50px 20px;
}
.portfolio .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.portfolio h2{
  font-size: 48px;
  font-family: 'Roboto';
  text-align: center;
  padding:20px 0;
}
.portfolio .galeria{
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-around;
}
.portfolio .galeria .proyecto{
  position: relative;
  max-width: 340px;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
}
.portfolio .galeria .proyecto img{
  width: 100%;
  display: block;
}
.portfolio .galeria .proyecto .overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(219, 165, 255 ),rgba(219, 165, 255 ));
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
margin-bottom: 20px;
transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
  opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
  margin-bottom: 0px ;
}
/*SECCION C O N T A C T O */
.contacto{
  background-image: url(img/fondo.jpg);
  background-color: black;
  color: white;
  padding: 50px 0;
}
.contacto .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.contacto h2{
  font-size: 48px;
  font-family: 'Roboto';
  text-align: center;
  padding:20px 0;
}
.contacto .fila{
  display: flex;
}
 /*ACÁ VA EL FORMULARIO*/
.contacto .col{
  width: 50%;
padding: 10px;
position: relative;
}
.contacto .col input, .contacto .col textarea{
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: black;
  color: rgb(219, 165, 255);
  font-size: 18px;
}
.contacto button{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: white;
  position: relative;
  z-index: 10;
}
.contacto button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(219, 165, 255 );
  z-index: -1;
  transition: 1s;
  }
  .contacto button:hover .overlay{
    width: 100%;
  }
   /* MAPA*/
   .contacto .col img{
    width: 100%;}

    .contacto .col .info{
      position: absolute;
      top: 40%;
      background-color: rgb(0, 0, 0);
      padding: 20px;
      max-width: 350px;
      left: 50%;
      transform: translate(-50%, -50%);
     }
     .contacto .col .info ul{
      list-style: none;
     }
     .contacto .col .info ul li{
    margin-top: 20px;
     }
     .contacto .col .info ul li i{
      color:rgb(219, 165, 255 ) ;
      display: inline-block;
      margin-right: 20px;
     }

 
 footer{
  background-color: black;
  color: #ffffff;
  padding: 50px 0 30px 0 ;
  text-align: center;
  position: relative;
  width: 100%;
 }
 footer .redes{
  margin-bottom: 20px;
 }
 footer .redes a{
  color: white;
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
 }
 footer .arriba{
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgb(219, 165, 255 );
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
 }
 /*SECCION RESPONSIVE*/
 @media screen and (max-width:980px){
  nav{
    display: none;
  }
  .nav-responsive{
    display: block;
  }
  nav.responsive{
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: black;
    width: 180px;
    
  }
  nav.nav-responsive ul{
    display: block !important;
  }
 }
 .nav-responsive ul li{
  border-bottom: 1px solid white;
  padding: 10px 0;
 }
 @media screen and (max-width:700px){
  .sobremi .fila{
    display: block;
   }
   .sobremi .fila .col{
    width: fit-content;
   } 
   .skills .fila{
    display: block;
   }
   .skills .fila .col{
    width: 100%;
   }
   .skills .fila .col .barra-skills{
    width: 100%;
   }
   .curriculum .fila{
    display: block;
    }
    .curriculum .fila .col{
      width: 90%;
    }
    .curriculum .fila .derecha{
      margin-left: 20px;
    }
    .portfolio .galeria{
      display: block;
      width: 100%;
    }
    .portfolio .galeria .proyecto{
      max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
      width: 100%;
    }
    .contacto .fila{
      display: block;
    }
    .contacto .fila .col{
      width: 100%;
    }
 }